@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "MyCustomFont";
  src: url("/src/assets/Fonts/Marko_One/MarkoOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #3e2a78;
  color: white;
  font-family: "MyCustomFont";
}
/* 
purple  #855afd
dark    #1c1942
white
*/
